html
	body
		form#inputForm
			input(type="text")#input
		#translationOutlet

		script(src="/socket.io/socket.io.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script.
			var socket = io();
		script(src="/js/translate.js")