#heading
{
	margin-top: 20px;
}

/* Dumb hack because divs can lose height when they
 * have floating child nodes ヽ(。_°)ノ
 */
.clearfix::after
{
	content: '';
	display: block;
	clear: both;
}

.languageCard
{
	border-bottom: 2px solid #dcdcdc;
	padding: 1em 0 1em 1em;
}

.languageCard .translation
{
	margin-bottom: 0.2em;
	word-break: break-all;
}

.languageCard.equilibrium
{
	background-color: #76ff5d;
}

#sourceLanguageControl, #otherLanguageControl
{
	display: inline-block;
	vertical-align: middle;
}